.cabecera{
    margin: 40px;
    display: flex;
   justify-content: space-between;
    align-items: flex-end;

}

.menu ul{
    gap: 20px;
    display: flex;
   
    
}

.cabecera img{
    width: 200px;
}

